
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
    color: #fff;
    list-style: none;
    font-family: cursive;    
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #546DFE;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1% 10%;
    background: transparent;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 20%;
}
    .logo{
        font-size: 25px;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        cursor: pointer;
    }
    .navbar-head a {
        position: relative;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: 0.3s;   
        font-family:'Poppins', sans-serif;             
    }
    .navbar-head a:hover,.navbar-head a.active{
        color: aqua;   
    }
    .navbar-head a::after{
        content: '';
        position: absolute;
        left: 0;
        background-color: aqua;
        bottom: -2px;
        width: 100%;
        height: 2px;
        border-radius: 25px;
        transform-origin: left;
        transform: scale(0);
        transition: 0.5s;
    }
    .navbar-head a:hover::after{
        transform-origin: right;
        transform: scale(1);
        
    }
    .navbar-head button{
        margin-left: 35px;
        font-size: 14px;
        color: #fff;
        padding: 0 10px;
        border-radius: 25px;
        border: #fff solid 2px;
        cursor: pointer;
        background: transparent;
        transition: 0.2s;                

    }
    .navbar-head button:hover{
        color: black;
        border: aqua solid 2px;
        background-color: aqua;
        font-weight: 550;
        box-shadow: 0px 0px 15px rgba(50, 255, 255, 0.8);
        transform: scale(1.1);
    }


 .footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    z-index: 100;
    display: flex;
    justify-content: center;
}
    .navbar-foot{
        display: flex;
    }
    .navbar-foot a{
        background-color: #fff;
        margin-left: 10px;
        border-radius: 25px;
        border: #fff solid 1px;
        text-decoration: none;
        padding: 5px;
        display: flex;
        justify-content: center;
        transition: 0.3s;
    }
    .navbar-foot a i{
        color: #546DFE;
        font-size: 25px;
    }
    
    .navbar-foot a:hover{
        background-color: aqua;
        border: aqua solid 1px;
        box-shadow: 0px 0px 15px rgba(50, 255, 255, 0.8);
        transform: scale(1.3);
        margin: auto 15px auto 25px;
    }
    

    .container{
        position: absolute;
        margin: 8% 10% auto 10%;
        background-color: rgba(255, 255, 255, 0.2);
        width: 80%;
        height: max-content;
        min-height: 75vh;
        border-radius: 10px;
        scale: 1;
        transition: 0.3s;
        display: flex;
        flex-direction: row;
    }
    .hide-container{
        top: -50%;
        scale: 0;
    }

        #container_home .left{
            position: relative;
            width: 50%;
            height: 75vh;
            text-align: center;
            padding: 10%;
            
        } 
            #container_home .left h1{
                    text-align: start;
                    font-family: cursive;
                    margin-top: -15%;
                    margin-bottom: 10%;
                }
            #container_home .left .welcome_bingles{
                display: flex;
                flex-direction: row;
                position: relative;
                height: 30%;
                margin-top: -15%;
                margin-bottom: 30%;
                width: 100%;
            }
                
                #container_home .left .welcome_bingles img{
                    position: absolute;
                    left: 10%;
                    width: 80%;
                }
                #container_home .left .welcome_bingles h2{
                    font-size: 12px;
                    position: absolute;
                    left: 45%;
                    top: 65%;
                    font-family: cursive;
                }
            #container_home .left p{
                font-family: cursive;
                width: 100%;
                
            }

        #container_home .right{
            width: 50%;
            display: flex;
            justify-content: center;
            padding: 5%;
        }
            #container_home .right .author{
                    
                    display: flex;
                    justify-content: center;
                }
                    #container_home .right .authorlist{
                            text-align: -webkit-center;
                            width: 225px;
                            height:225px;  
                            transition: transform 0.3s ease-in-out;
                        }
                    #container_home .right .authorlist:hover{
                        transform: scale(1.2)
                    }    
                        #container_home .right .authorlistlink{
                            text-decoration: none;
                            width: 225px;
                            height:225px; 
                            }
                            #container_home .right .authorphoto{
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    width: 225px;
                                    height:225px; 
                                    border-top-left-radius: 25px;
                                    border-top-right-radius: 5px;           
                                }
                                #container_home .right .authordate{
                                    rotate: 270deg;
                                    position: relative;
                                    top: 100px;
                                    text-align: initial;
                                    left: -100px;
                                    font-size: 11px;
                                    }  
                                    #container_home .right .authortitlebox{
                                    position: relative;
                                    top: 145px;
                                    width: 185px;
                                    font-size: 15px;
                                    }
                                        






























    @media screen and (max-width: 480px) {
        .header{
            flex-wrap: wrap;
            justify-content: center;
        }
        .navbar-head{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .container{
            margin-top: 40%;
            display: flex;
            flex-direction: column;
        }
            #container_home .left{
                width: 100%;
                height: 40vh;
            } 
                #container_home .left h1{
                        text-align: start;
                        font-family: cursive;
                        margin-top: 0%;
                        margin-bottom: 10%;
                    }
                #container_home .left .welcome_bingles{
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    height: 30%;
                    margin-top: -15%;
                    margin-bottom: 15%;
                    width: 100%;
                }
                    
                    #container_home .left .welcome_bingles img{
                        position: absolute;
                        left: 10%;
                        width: 80%;
                    }
                    #container_home .left .welcome_bingles h2{
                        font-size: 12px;
                        position: absolute;
                        left: 45%;
                        top: 20%;
                        font-family: cursive;
                    }
                    #container_home .left p{
                        font-size: 15px;
                    }
      }
      
      